<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Grant Thornton iHub</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>       
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Index", "Home")">
                            Home
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                   </li>
                    <li>
                        <a href="@Url.Action("Index", "Source")">
                            Sources
                            <span class="glyphicon glyphicon-import"></span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Map")">
                            Maps
                            <span class="glyphicon glyphicon-random"></span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Target")">
                            Targets
                            <span class="glyphicon glyphicon-export"></span>
                        </a>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Grant Thornton LLP</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
</body>
</html>
